<br>
<table id="listTask" class="table table-bordered text-center">
    <thead>
        <tr>
            <th>@Languages.Name</th>
            <th>@Languages.Status</th>
            <th>@Languages.Deadline</th>
            <th>@Languages.Grade</th>
        </tr>
    </thead>
    <tbody >
    </tbody>
</table>


@section Scripts{
}