<div data-modal-details>
    <h2 data-title></h2><br>
    <table class="table table-bordered table-reponsive text-center">
        <thead>
            <tr>
                <th>@Languages.Day</th>
                <th>@Languages.StartTime</th>
                <th>@Languages.EndTime</th>
            </tr>
        </thead>
        <tbody data-tbody></tbody>
    </table>
</div>