<div id="footer" class="footer">
    <div>
        <p>
            &copy;&nbsp;@DateTime.Now.Year&nbsp;-&nbsp;<a href="@Url.Action("Index", "Home")">Mize<sup><strong>UP</strong></sup></a>
        </p>
    </div>
</div>
