@{
    ViewBag.Title = Languages.AccessDenied;
}

<div class="container">
    <div class="page-header">
        <h2>
            <strong class="text-danger">@Languages.AccessDenied</strong>
        </h2>
    </div>
    <h3>@Languages.AccessDeniedMessage</h3>
</div>