@{
    ViewBag.Title = Languages.Home;
}

<center>
    <div>
        <br><br><br><br><br>
        <img src="@Url.Content("~/Content/img/Home.jpg")" />
    </div>
</center>
<br><br><br><br><br><br>
<section id="equipe" class="col-xs-12" style="padding-bottom: 5% !important;">
    <div class="col-md-12">
        <div class="page-header">
            <h2 class="text-center">
                <strong>Equipe</strong>
            </h2>
        </div>
    </div>
    <div class="row text-center ">
        <div class="col-md-4">
            <div class="team">
                <img class="img-circle" alt="Responsive Image" src="~/Content/img/img1.jpg" height="150">
            </div>
            <div>
                <h4><strong>Rádrick Gomes</strong></h4>
                <p class="text-muted">Product owner / Desenvolvedor</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="team">
                <img class="img-circle" alt="Responsive Image" src="~/Content/img/img2.jpg" height="150">
            </div>
            <div>
                <h4><strong>Rogan Melo</strong></h4>
                <p class="text-muted">Scrum master / Desenvolvedor</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="team">
                <img class="img-circle" alt="Responsive Image" src="~/Content/img/img3.jpg" height="150">
                <h4><strong>Hileo Anderson</strong></h4>
                <p class="text-muted">Team Scrum / Desenvolvedor</p>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <div class="team">
                <img class="img-circle" alt="Responsive Image" src="~/Content/img/img4.jpg" height="150">
            </div>
            <div>
                <h4><strong>Clenilto Loiola</strong></h4>
                <p class="text-muted">Team Scrum / Design</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="team">
                <img class="img-circle" alt="Responsive Image" src="~/Content/img/img5.jpg" height="150">
            </div>
            <div>
                <h4><strong>João Paulo</strong></h4>
                <p class="text-muted">Team Scrum / Design</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="team">
                <img class="img-circle" alt="Responsive Image" src="~/Content/img/img6.jpg" height="150">
            </div>
            <div>
                <h4><strong>Marcelo Alves</strong></h4>
                <p class="text-muted">Team Scrum / Stakeholder</p>
            </div>
        </div>
    </div>
</section>

@section Scripts {

}